<header class="header-section">
	<div class="header-container">
		<!-- logo -->
		<a class="site-logo" href="{{ path('home') }}">
			<img src="{{ asset('build/images/logo.png') }}" alt="">
		</a>
		<!-- site menu -->
		<nav class="nav-menu">
			{% if app.user is null %}
			<ul>
				<li><a href="{{path('presentation')}}">Présentation</a></li>
				<li><a href="{{path('classement')}}">Classement</a></li>
			</ul>
			{% else %}
			<ul>
				<li><a class="play-button" href="{{path('jouer')}}">Jouer</a></li>
				<li><a href="{{ path('app_user_show', {'id': app.user.id} ) }}">Profil</a></li>
				<li><a href="{{path('presentation')}}">Présentation</a></li>
				<li><a href="{{path('classement')}}">Classement</a></li>
			</ul>
			{% endif %}
		</nav>
		<div class="header-buttons">
			{% if app.user is null  %}
				<div class="header-button">
					<a href="{{ path('app_login')}}">Connexion</a>
				</div>
        		<div class="header-button">
            		<a href="{{ path('inscription')}}">Inscription</a>{# 'app_register' #}
        		</div>
			{% else %}
				<div class="header-button">
					<a href="{{ path('app_logout')}}">Déconnexion</a>
				</div>
			{% endif %}
		</div>

		
	</div>
</header>